<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.AttendanceInfoMapper">

    <!-- 分页查询打卡记录 -->
    <select id="queryAttendancePage" resultType="java.util.LinkedHashMap">
        select
        ai.id,
        ai.user_id,
        ai.put_take_date,
        ui.name as userName,
        ui.code as userCode,
        ui.images as userImages
        from
        attendance_info ai
        left join user_info ui on
        (ui.id = ai.user_id)
        where
        1 = 1
        <if test="attendanceInfo.userName != null and attendanceInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{attendanceInfo.userName},'%')
        </if>
        <if test="attendanceInfo.userId != null and attendanceInfo.userId != ''">
            AND ui.user_id = #{attendanceInfo.userId}
        </if>
        order by
        ai.create_date desc
    </select>

    <!-- 根据用户获取打卡记录 -->
    <select id="queryAttendanceRecordByUserId" resultType="java.util.LinkedHashMap">
        SELECT user_id,
               put_take_date,
               checked,
               @pre_check :=
IF (checked, @pre_check + 1, 0) AS 'continue_check_in'
        FROM
            attendance_info, (SELECT @pre_check := 0) init
        WHERE
            1 = 1
        ORDER BY
            user_id
    </select>
</mapper>
