<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.WeightRecordInfoMapper">

    <!-- 分页查询体重记录信息 -->
    <select id="queryWeightPage" resultType="java.util.LinkedHashMap">
        select wri.id,
        wri.user_id,
        wri.water_amount,
        wri.sport_amount,
        wri.sport_name,
        wri.sport_time,
        wri.weight,
        wri.content,
        wri.create_date,
        ui.name as userName,
        ui.code as userCode,
        ui.images as userImages
        from weight_record_info wri
        left join user_info ui on
        (ui.id = wri.user_id)
        where 1 = 1
        <if test="weightRecordInfo.userName != null and weightRecordInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{weightRecordInfo.userName},'%')
        </if>
        <if test="weightRecordInfo.sportName != null and weightRecordInfo.sportName != ''">
            AND wri.sport_name LIKE CONCAT('%',#{weightRecordInfo.sportName},'%')
        </if>
        <if test="weightRecordInfo.userId != null and weightRecordInfo.userId != ''">
            AND ui.user_id = #{weightRecordInfo.userId}
        </if>
        order by wri.create_date desc
    </select>
</mapper>
